.container {
  display: grid;
  grid-auto-flow: dense;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  /* padding: 20px 12px; */
  padding: 20px 32px;

  & > div {
    grid-column: span 10 / span 10;
  }
}

.featureList {
  /* display: flex;
  flex-direction: column; */

}
