button.button {
  background: transparent;
  border: 0;
  border-style: none;
  cursor: pointer;
  padding-inline: 0;
  transition: none;
}

.button:hover {
  text-decoration: underline;
}

.text {
  display: none;
}

@media (min-width: 997px) {
  .text {
    display: block;
  }
}

[data-theme='dark'] .button svg {
  fill: #fff;
}

