.container button:first-of-type {
  margin-right: 19px;
}

.button {
  height: 19px;
}

.button svg {
  color: var(--ams-breadcrumb-item-link-color);
  /* Temp override for design-system Icon span class */
  height: 19px !important;
  width: 19px !important;
}