button.button {
  background: transparent;
  border: 0;
  border-style: none;
  color: var(--ams-page-header-menu-item-color);
  cursor: pointer;
  display: inline-flex;
  padding-inline: 0;
  transition: none;
}

.button:hover {
  color: var(--ams-page-header-menu-item-hover-color);
  text-decoration: underline;
}