/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

[data-theme='dark'] .container p,
[data-theme='dark'] .container li {
  color: #fff;
}

[data-theme='dark'] .container button {
  background-color: #fff;
  color: #000;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
