/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

[data-theme='dark'] .buttons a svg {
  filter: invert(1);
}

.icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-right: .5rem;
  width: 2rem;
}

.icon:hover {
  background: var(--ifm-color-emphasis-200);
}

[data-theme='dark'] .icon:hover {
  background: var(--ifm-color-emphasis-200);
}

.searchButton {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--ifm-link-color);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.searchButton:hover {
  text-decoration: underline;
}

.searchButton svg {
  margin-left: 8px;
}
