.grid div:last-of-type {
  order: -1;
}

@media (min-width: 997px) {
  .grid div:last-of-type {
    order: unset;
  }
}

[data-theme='dark'] .root div:first-of-type {
  background: var(--ams-color-highlight-purple);
}

.col a {
  color: #fff;
}

.col a:hover {
  color: #fff;
}
